/* ============== Mobile Portrait ============== */

@media only screen and (max-width: 575px) {
    .common_dashed_border{
        border-right: none;
    }
    .vehicle_heading{
        font-size: 16px;
    }
}


/* ============== Mobile Landscape ============== */

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .common_dashed_border{
        border-right: none;
    }
    .vehicle_heading{
        font-size: 16px;
    }
}


/* ============== Small Device ============== */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .common_dashed_border{
        border-right: none;
    }
}


/* ============== Medium Device ============== */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .ticket_detail{
        height: 85px;
    }
}


/* ============== Large Device ============== */

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .custom_label1, 
    .custom_label2, 
    .custom_label3, 
    .custom_label4, 
    .custom_label5, 
    .custom_label6, 
    .custom_label7 {
        font-size: 12px;
        width: 47px;
    }
    .ticket_detail{
        height: 85px;
    }
}


/* ============== Extra Large Device ============== */

@media only screen and (min-width: 1400px) {
    .ticket_detail{
        height: 85px;
    }
}