@font-face {
    font-family: Helvetica Neue;
    src: url(../fonts/HelveticaNeue.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.ttf);
}

/* header navbar */

.navbar-fixed-top.scrolled {
    background-color: #555 !important;
    transition: background-color 400ms linear;
}

.navbar-fixed-top.scrolled .nav-link {
    color:#555;
}


.banner{
    background-image: url(../images/header_banner.jpg);
    height: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    
    background-size: cover;
}

.banner_content_menu{
    border-radius: 10px;
    padding: 20px 30px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgb(0 117 255 / 9%);
    position: relative;
    top: 25%;
}

.banner_content_box{
    border-radius: 20px;
    padding: 50px 30px 40px;
    background-color: #fff;
}

.banner_content_btn{
    position: relative;
    bottom: 50%;
}

.search_btn{
    background-color: #ff6347;
    padding: 10px;
    border: 2px solid #ff6347;
    border-radius: 10px;
    width: 150px;
    color: #fff;
}

/* Filter section Start */
.common_dashed_border{
    border-right: 1px dashed #ddd;
}

.custom_input1:checked ~ .custom_label1,
.custom_input2:checked ~ .custom_label2,
.custom_input3:checked ~ .custom_label3,
.custom_input4:checked ~ .custom_label4,
.custom_input5:checked ~ .custom_label5,
.custom_input6:checked ~ .custom_label6{
    background-color: #ff6347;
    color: #fff;
}


.custom_label1, 
.custom_label2,
.custom_label3,
.custom_label4,
.custom_label5,
.custom_label6{
    border: 1px solid #ddd;
    border-radius: 7px;
    background-color: #fff;
    color: #ff6347;
    text-align: center;
    width: 55px;
}

.label_text{
    font-size: 12px;
}


/* Multiple select */
.multiselect {
    width: 200px;
}
  
.selectBox {
    position: relative;
}
  
.selectBox select {
    width: 100%;
    font-weight: bold;
}
  
.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
  
#checkboxes {
    display: none;
    border: 1px #dadada solid;
}
  
#checkboxes label {
    display: block;
    z-index: 1;
}
  
#checkboxes label:hover {
    background-color: #1e90ff;
}

#testSelect1_multiSelect {
    width: 200px;
}

.multiselect-count{
    display: none;
}

.multiselect-input:focus-visible{
    outline:0;
}
.multiselect-input{
    border: 0 !important;
}

.time_required p{
    border-bottom: 1px dashed #ddd;
}

.time_required p::before,
.time_required p::after{
    border: 1px solid #000 !important;
    width: 5px !important;
    height: 5px !important;
    background-color: #000;
    top: 80% !important;
    z-index: 99999999999;
    position: absolute;
}

.ticket_detail{
    height: 120px;
    border-bottom: 1px solid #ddd;
}

.custom_accordion_btn{
    background-color: #ff6347 !important;
    color: #fff !important;
}

.custom_accordion_btn:focus{
    outline:0 !important;
    border: none !important;
    box-shadow: none !important;
}