@font-face {
    font-family: Helvetica Neue;
    src: url(../fonts/HelveticaNeue.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.ttf);
}

/* ========== Login ========= */
.logo img {
    width: 50%;
    image-rendering: -webkit-optimize-contrast;
}

.login_logo img {
    width: 20%;
    image-rendering: -webkit-optimize-contrast;
}

.input_field:focus {
    background-color: #FFF !important;
}

.input_field {
    border: 1px solid #BFBFBF !important;
    background-color: #F7F7F7 !important;
    box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.04);
    font-size: 14px !important;
    font-family: Helvetica Neue;
}

.input_field::placeholder {
    font-size: 14px !important;
    font-family: Helvetica Neue;
    color: #868E96;
}

.input_field:focus {
    border: 1px solid #FF6347;
}


/* password Show-hide */

.field-icon {
    float: right;
    margin-top: -50px;
    margin-right: 14px;
    position: relative;
    z-index: 2;
    font-weight: 600 !important;
    color: #808080;
}


/* Login Area */

.login_panel {
    height: 80vh;
}

.login_area {
    border-radius: 23px;
    background-color: #fff;
}

.login_area h2 {
    font-size: 33px;
    margin: 0 0 25px 0;
    color: #212529;
    font-weight: bold;
}

.label_font {
    font-family: Helvetica Neue;
}

.form-control:focus {
    border-color: #FF6347 !important;
    box-shadow: 0 0 0 2px rgba(255, 99, 71, 25%) !important;
}

.login_btn {
    background-color: #FF6347;
    border: 2px solid #FF6347;
}

.login_btn:focus {
    outline: 0;
}

.login_btn:hover {
    background-color: #fff;
    border: 2px solid #FF6347;
    color: #FF6347 !important;
    transition: 0.5s;
}

/* header navbar */

.navbar-fixed-top.scrolled {
    background-color: #555 !important;
    transition: background-color 400ms linear;
}

.navbar-fixed-top.scrolled .nav-link {
    color:#555;
}


.banner{
    background-image: url(../images/header_banner.jpg);
    height: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    
    background-size: cover;
}

.banner_content_menu{
    border-radius: 10px;
    padding: 20px 30px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgb(0 117 255 / 9%);
    position: relative;
    top: 25%;
}

.banner_content_box{
    border-radius: 20px;
    padding: 50px 30px 40px;
    background-color: #fff;
}

.banner_content_btn{
    position: relative;
    bottom: 50%;
}

.search_btn{
    background-color: #ff6347;
    padding: 10px;
    border: 2px solid #ff6347;
    border-radius: 10px;
    width: 150px;
    color: #fff;
}

/* Filter section Start */
.common_dashed_border{
    border-right: 1px dashed #ddd;
}

.custom_label1, 
.custom_label2,
.custom_label3,
.custom_label4,
.custom_label5,
.custom_label6,
.custom_label7{
    border: 1px solid #ddd;
    border-radius: 7px;
    background-color: #fff;
    color: #ff6347;
    text-align: center;
    width: 55px;
}

.custom_label1:hover, 
.custom_label2:hover,
.custom_label3:hover,
.custom_label4:hover,
.custom_label5:hover,
.custom_label6:hover,
.custom_label7:hover{
    background-color: #ff6347;
    color: #fff;
    cursor: pointer;
    transition: 0.7s;
}

.custom_input1:checked ~ .custom_label1,
.custom_input2:checked ~ .custom_label2,
.custom_input3:checked ~ .custom_label3,
.custom_input4:checked ~ .custom_label4,
.custom_input5:checked ~ .custom_label5,
.custom_input6:checked ~ .custom_label6,
.custom_input7:checked ~ .custom_label7,
.checkout_head{
    background-color: #ff6347;
    color: #fff;
}


.label_text{
    font-size: 12px;
}


/* Multiple select */
.multiselect {
    width: 100%;
    height: 100%;
}
  
.selectBox {
    position: relative;
}
  
.selectBox select {
    width: 100%;
    font-weight: bold;
}
  
.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
  
#checkboxes {
    display: none;
    border: 1px #dadada solid;
}
  
#checkboxes label {
    display: block;
    z-index: 1;
}
  
#checkboxes label:hover {
    background-color: #1e90ff;
}

#testSelect1_multiSelect {
    width: 100%;
}

.multiselect-count{
    display: none;
}

.multiselect-input:focus-visible{
    outline:0;
}
.multiselect-input{
    border: 0 !important;
}

/* Vehicle List Section Start */
.vehicle_heading{
    font-size: 18px;
}

.single_vehicle{
    margin-bottom: 10px;
    padding: 0px 12px;
}

.time_required p{
    border-bottom: 1px dashed #ddd;
}

.time_required::before,
.time_required::after{
    border: 1px solid #000 !important;
    width: 5px !important;
    height: 5px !important;
    background-color: #000;
    /* top: 80% !important; */
    z-index: 99999999999;
    position: absolute;
}

.ticket_detail{
    border-bottom: 1px solid #ddd;
}

.custom_accordion_btn{
    background-color: #ff6347 !important;
    color: #fff !important;
    /* border-radius: 0 0 5px 0 !important; */
}

.custom_accordion_btn:focus{
    outline:0 !important;
    border: none !important;
    box-shadow: none !important;
}

/* .custom_accordion_btn:before, */
.custom_accordion_btn:after{
    filter: invert(100);
}

/* Bus Orientation Start */
.seat_info{
    margin-bottom: 20px;
}
.available{
    height: 10px;
    width: 10px;
    border: 1px solid #ddd;
    float: left;

}

.availability_check{
    float: left;
    margin-right: 5px;
    width: fit-content;
}

/* .availability_check:last-child{
    float: none !important;
} */

.not_available{
    height: 10px;
    width: 10px;
    border: 1px solid #ddd;
    background: #ff63478a;
    float: left;
}

.selected_seat{
    height: 10px;
    width: 10px;
    border: 1px solid #ddd;
    background: #ff6347;
    float: left;
}

.availability_check p{
    color: #000;
    font-size: 14px;
    margin: -6px 14px;
}

.bus_orientation{
    border-radius: 25px 10px 10px 25px;
    border: 2px solid #ff6347;
    clear: both;
}

.bus_head{
    border-right: 1px dashed #ddd;
    height: 200px;
    padding: 5px 15px 0 5px;
}

.bus_body{
    height: 200px;
    width: 100%;
    padding: 5px 10px;
}

.seat_column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bus_seat{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 3px 7px;
    background-color: #fff;
    margin: 5px 0;
    font-size: 14px;
}

.hidden_seat{
    height: 30px;
    width: 30px;
}

.confirm_btn{
    background-color: #ff6347;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
}

/* Help section design Start */

.help_section_header{
    background-image: linear-gradient( 90deg ,#ff6347,#ff63477d);
    padding: 14px 18px;
    color: #fff;
    font-weight: 600;
    border-radius: 5px 5px 0 0;
}

.help_icon{
    background-color: #ff6347;
    color: #fff;
    border-radius: 50%;
    padding: 6px 10px;
}

.help_text{
    color: #555;
    text-decoration: none;
}

.help_text:hover{
    color: #ff6347;
    transition: .4s;
}


/* Checkout page start */
.checkout_head{
    border-radius: 23px 23px 0 0;
}

.checkout_head img{
    width: 11%;
    image-rendering: -webkit-optimize-contrast;
}

.checkout_head h5{
    margin: 0px 0 0 85px;
}

.ckeckout_body p{
    line-height: 12px;
}

/* langwrap */

.langWrap a{
    text-decoration: none;
    background-color: #FF6347;
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
}